@mixin section-div() {
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
}

h1,
h2,
h3,
h4
,h5
,h6
{
  margin: 0;
}

div#container_mainpage {
  width: 100%;

  div#name_section {
    @include section-div();
    background: linear-gradient(rgb(9, 118, 172), rgb(11, 166, 266));

    padding-top: 110px;
    padding-bottom: 20px;

    font-family: Lato, "Arial Rounded MT Bold", sans-serif;
    font-weight: 300;

    text-align: center;

    font-size: 4.5em;

    @media screen and (max-width: 567px){
      font-size: 3em !important;
    }

    p.bold {
      font-weight: 400;
    }
  }
  div#mods_section {
    @include section-div();

    background: linear-gradient(rgb(11, 130, 27), rgb(10, 90, 14));
    font-family: Lato, Arial, SansSerif, sans-serif;

    font-weight: 400;

    color: whitesmoke;
    #mods_section_header {
      padding-top: 40px;
      padding-bottom: 40px;
      text-align: center;
    }

    .bold {
      font-weight: 600;
    }

    p.modtitle {
      font-family: Montserrat, "Arial Black", sans-serif;
      font-weight: bold;

      font-size: 1em;
    }

    div#modinfocontainer {
      display: flex;
      justify-content: space-around;
      align-items: center;

      padding-left: 20px;
      padding-right: 20px;

      div#modspotlight {
        display: flex;
        flex-direction: column;
        align-items: center;

        .modimage {
          border-radius: 50%;
          background: radial-gradient(rgb(90, 90, 90), rgb(140, 140, 140), rgb(100 ,100, 100));
          margin-top: 10px;
          margin-bottom: 10px;
          min-width: 50px;
          min-height: 50px;
        }
      }
    }
  }
}