---
# Needs this for some reason
---

@import "fonts";

body {
  margin: 0;
  overflow-x: hidden;
}

div#headerbar {
  padding: 5px;
  display: flex;
  width: 100%;

  overflow-x: hidden;

  align-items: stretch;
  background-color: rgb(255, 130, 0);

  h1#teamdmfmm {
    font-family: Montserrat, "Arial Black", sans-serif;
    font-style: normal;
    font-weight: bold;
    flex-grow: 2;
    padding-left: 20px;
  }

  div.verticalfix {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0;

    &:hover {
      background: white;
    }

    a {
      text-align: center;
      font-family: Montserrat, "Arial Black", sans-serif;
      font-style: normal;
    }
  }

}

div#container {
  margin: 0;
  width: 100%;

  color: rgb(245, 245, 245);
  font-family: Lato, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;

  overflow-x: hidden;
  background-color: rgb(40, 40, 40);

  display: flex;


  div#outercontainer {
    margin: 40px;

    background-color: rgb(20, 20, 20);

    flex-grow: 1;
    flex-basis: 0;

    div#innercontent {
      padding: 10px;
      display: inline-block;

      h1 {
        font-family: Montserrat, "Arial Black", sans-serif;
        font-weight: bold;
        font-style: normal;

        color: rgb(6, 121, 159);
      }
      h2 {
        font-family: Montserrat, "Arial Black", sans-serif;
        font-style: normal;

        color: rgb(4, 94, 124);
      }
    }
  }
  div#maincontainer {
    margin: 40px;

    flex-grow: 2;
    background-color: rgb(20, 20, 20);
    flex-basis: 0;

    div#innercontent {
      padding: 10px;
      display: inline-block;
      h1 {
        font-family: Montserrat, "Arial Black", sans-serif;
        font-weight: bold;
        font-style: normal;

        color: rgb(6, 121, 159);
      }
      h2 {
        font-family: Montserrat, "Arial Black", sans-serif;
        font-style: normal;

        color: rgb(4, 94, 124);
      }
    }
  }
}