<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div id="headerbar">
    <h1 id="teamdmfmm">TeamDmfMM</h1>
    <div class="verticalfix">
        <a>Home</a>
    </div>
    <div class="verticalfix">
        <a>Dev Blog</a>
    </div>
    <div class="verticalfix">
        <a>What we've made</a>
    </div>
</div>
<div id="container">
    <div id="outercontainer">
        <div id="innercontent">
            <h1>I am outer left</h1>
            <p> this is some text </p>
            <h2>H2</h2>
        </div>
    </div>
    <div id="maincontainer">
        <div id="innercontent">
            {{ content }}
        </div>
    </div>
    <div id="outercontainer">
        <div id="innercontent">
            <h1>I am outer right</h1>
            <p> this is some text </p>
            <h2>H2</h2>
        </div>
    </div>
</div>
</body>
</html>