<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div id="headerbar">
        <h1 id="teamdmfmm">TeamDmfMM</h1>
        <div class="verticalfix">
            <a>Home</a>
        </div>
        <div class="verticalfix">
            <a>Dev Blog</a>
        </div>
        <div class="verticalfix">
            <a>What we've made</a>
        </div>
    </div>
    <div id="container">
        {{ content }}
    </div>
</body>
</html>