<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div id="headerbar">
    <h1 id="teamdmfmm">TeamDmfMM</h1>
    <div class="verticalfix">
        <a href="/">Home</a>
    </div>
    <div class="verticalfix">
        <a href="/blog.html">Blog posts</a>
    </div>
    <div class="verticalfix">
        <a href="/our-work.html">What we've made</a>
    </div>
</div>
{{ content }}
</body>
</html>