---
layout: header_only
---
<div id="container">
    <div id="outercontainer">
        <div id="innercontent">
            <h2>Recent posts</h2>
            <hr />
            <div id="posts">
                {% for post in site.posts limit:5 %}
                <a href="{{ post.url }}">
                    <div class="post">
                        <h2 class="posttitle">{{ post.title }}</h2>
                        <p>by <b>{{ post.author }}</b> on {{ post.date | date_to_string }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="maincontainer">
        <div id="innercontent">
            {{ content }}
        </div>
    </div>
    <div id="offsetfix">

    </div>
</div>